@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
nav ul li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
}
main h5{
    color: #dd3232;
}
.newspaper-container{
    background-color: white;
    box-shadow: 10px 10px 5px#ddd;
    width: 700px;
    border-radius: 50px;
    padding: 1em;
    margin:auto;
}
body{
    font-family: 'source sans pro';
    background-color: #eee;
    color: black;
}
h1{
    font-family: 'abril fatface';
    text-align: center;
}
h2{
    font-family: "roboto slab";
}
a{
    color: #777;
    text-decoration: none;
    padding: 0.25em
}
nav{
    border: 2px solid #eee;
}
.more-articles{
    display: inline-block;
    width: 45%;
    text-align: center;
    border: 2px solid #eee;
}
main img{
    display: block;
    width: 100%;
}
